/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 
 /*
 This has been modified by Dominique Legault
 */

body {
	/*font-size:200%;*/
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#scrollable {
    margin-top: 7.375rem;
   /* margin-top: 0; */
}

form {
    padding-top: 0;
    padding-bottom:8px;
}

form input {
    width:100%;
}

.camera {
	background: transparent url(../img/camera.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 30px;
	height: 30px;
	position:absolute;
	right:1rem;
}

.camera.image {
	background: transparent url(../img/camera-highlight.svg);
}


.who {
    float:left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 80%;
	padding:0;
	margin:0;
}

.pending {
	color: grey;
}

.verified {
	
}

.strike {
	text-decoration: line-through;
}

.what {
	text-align:right;
	float:left;
	padding:0;
	margin:0;
	width: 20%;
}

.when {
}

.isPositive {
	color: #317958;
}

.isNegative {
	color: #AF6347;
}

.todo-list-name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

img.todo-image {
	width: 100%;
}

label.todo-list-item {
	width: -webkit-calc(100% - 30px);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	float:left;
}

.om-list-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

label.om-list-item {
    width: -webkit-calc(100% - 30px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float:left;
}

br.clear {
	height: 0;
	clear: both;
}

.topcoat-navigation-bar {
	padding-bottom: 0;
	margin-bottom: 0;
}

.topcoat-text-input {
	width:100%;
	vertical-align:middle;
	line-height:normal;
	height:50px;
}

.om-select-dark-variable {
  height: 3rem;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  line-height: 3rem;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0 1.25rem;
  border: 1px solid #333434;
  border-radius: 6px;
  background-color: #454646;
  box-shadow: inset 0 1px rgba(0,0,0,0.05);
  color: #c6c8c8;
  vertical-align: top;
}

.topcoat-tab-bar {
	width:100%;
}

.topcoat-tab-bar__button {
	width:100%;
}

.topcoat-button.om-small {
	line-height: 2rem;
	padding: 0 0.6rem 2px 0.6rem;
	font-size: 28px;
	letter-spacing: 0;
}

.topcoat-button.om-accounts {
	
	letter-spacing: 0;
}

.topcoat-button.om-payments {
	
	letter-spacing: 0;
}

.topcoat-button.om-settings {
	
	letter-spacing: 0;
}

.topcoat-button.om-create {
    line-height: 2rem;
    padding: 0 0.6rem 2px 0.6rem;
    letter-spacing: 0;
    width: 100%;
}

.topcoat-button.om-manage_accounts {
    line-height: 2rem;
    padding: 0 0.6rem 2px 0.6rem;
    letter-spacing: 0;
    width: 100%;
}

.topcoat-button.om-trading_name {
	line-height: 2rem;
	padding: 0 0.6rem 2px 0.6rem;
	letter-spacing: 0;
	width: 100%;
}

.topcoat-button.om-currency {
	line-height: 2rem;
	padding: 0 0.6rem 2px 0.6rem;
	letter-spacing: 0;
	width: 100%;
}

.topcoat-button.om-profile {
	line-height: 2rem;
	padding: 0 0.6rem 2px 0.6rem;
	letter-spacing: 0;
	width: 100%;
}

.topcoat-button.om-space {
    line-height: 2rem;
    padding: 0 0.6rem 2px 0.6rem;
    letter-spacing: 0;
    width: 100%;
}

.topcoat-button.om-currency_network {
    line-height: 2rem;
    padding: 0 0.6rem 2px 0.6rem;
    letter-spacing: 0;
    width: 100%;
}

.topcoat-button.om-server {
    line-height: 2rem;
    padding: 0 0.6rem 2px 0.6rem;
    letter-spacing: 0;
    width: 100%;
}

.topcoat-button.om-export_transactions {
    line-height: 2rem;
    padding: 0 0.6rem 2px 0.6rem;
    letter-spacing: 0;
    width: 100%;
}

.topcoat-button.om-manage_nfc {
    line-height: 2rem;
    padding: 0 0.6rem 2px 0.6rem;
    letter-spacing: 0;
    width: 100%;
}

.topcoat-button.om-new_nfc {
    line-height: 2rem;
    padding: 0 0.6rem 2px 0.6rem;
    letter-spacing: 0;
    width: 100%;
}

.topcoat-button.om-erase_nfc {
    line-height: 2rem;
    padding: 0 0.6rem 2px 0.6rem;
    letter-spacing: 0;
    width: 100%;
}


.topcoat-button.todo-small {
	line-height: 2rem;
	padding: 0 0.6rem 2px 0.6rem;
	font-size: 28px;
	letter-spacing: 0;
}



.topcoat-button.todo-register {
	line-height: 2rem;
	padding: 0 0.6rem 2px 0.6rem;
	letter-spacing: 0;
}

.topcoat-button.todo-lost {
	line-height: 2rem;
	padding: 0 0.6rem 2px 0.6rem;
	letter-spacing: 0;
}

.three-quarter {
	width:75%
}

.topcoat-navigation-bar__item.todo-padded {
	padding-top:1rem;
}

.topcoat-navigation-bar__item.om-padded {
	padding-top:1rem;
}

.topcoat-button.todo-delete {
	position:absolute;
	right:1rem;
	line-height: 2rem;
	display:none;
}

.topcoat-button.om-archive {
    position:absolute;
    right:1rem;
    line-height: 2rem;
    display:none;
}

.topcoat-button.om-activate {
    position:absolute;
    right:1rem;
    line-height: 2rem;
    display:none;
}

.topcoat-button.todo-login {
	display:none;
}

.topcoat-icon-button--quiet.openmoney-login {
	display:none;
}



.topcoat-icon-button.openmoney-small {
	padding: 0 0.6rem 0 0.6rem;
	margin-right: -0.3rem;
}

.topcoat-icon-button--quiet.openmoney-logout {
	display:none;
}



.topcoat-navigation-bar__title.todo-unbold {
	font-weight: 100;
}




.archived {
	text-decoration: line-through;
}

.topcoat-list__header {
	font-size:inherit;
	font-weight:inherit;
    padding: 1.25rem;
}


.cloud-status {
    width:36px;
    height:36px;
    align: middle;
    padding-left:6px;
}

/*remove the select arrow in ff
https://bugzilla.mozilla.org/show_bug.cgi?id=649849
*/
select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.content {
	overflow:hidden;
}

.topcoat-list {
    list-style-type:none;
}

  
